<div 
    class="ppq__inner component__inner" 
    role="region" 
    aria-label="{{_accessibility._ariaRegions.ppq}}"
>{{> component this}}
    <div 
        class="
            ppq-widget 
            component__widget {{#unless _isEnabled}} 
            is-disabled {{#if _isComplete}} 
            is-complete 
            is-submitted 
            is-user-answer {{#if _isCorrect}}is-correct{{/if}} {{/if}} {{/unless}}"
    >
        <div class="ppq-other-device {{#unless _showOtherDeviceCompletionMessage}}display-none{{/unless}}">
            {{{_globals._components._ppq.otherDeviceCompletionMessage}}}
        </div>
    	<div class="ppq-pinboard-container {{#if _showOtherDeviceCompletionMessage}}display-none{{/if}}">
    		<div class="ppq-pinboard-container-inner">
    			{{#each _items}}
			    	<div class="ppq-correct-zone {{#unless ../_developerMode }}display-none{{/unless}}"></div>
      			{{/each}}
                <div class="ppq-boundary">
    				<img 
                        class="ppq-pinboard {{#if _developerMode}}developer-mode{{/if}}" 
                        src="{{_pinboardDesktop.src}}" 
                        title="{{_pinboardDesktop.title}}" 
                        alt="{{_pinboardDesktop.title}}" 
                        draggable="false" 
                        style="-moz-user-select: none;" 
                        ondragstart="return false;"
                    />
                </div>
    		</div>
            <span class="ppq-debug"></span>
    	</div>
    </div>
    <div>
        <div class="btn__container"></div>
    </div>
</div>

<style>
    .ppq-flag {
        background-image: url('{{pins.pin}}');
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .ppq-correct {
        background-image: url('{{pins.correct}}');
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .ppq-incorrect {
        background-image: url('{{pins.incorrect}}');
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>